################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Zelda/FileContentIndex/64aa611e-8865-48c2-9a42-811c84be3242.vsidx
/.vs
